In [2]:
#1.check if a list contains a element.
    
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the  list")

Yes, 'apple' is in the  list

In [1]:
#2.find a index of the 1st matching element|for ex.fruits=['pear','orange','apple','grapefruit','apple','pear']
fruits=['pear','orange','apple','grapefruit','apple','pear']
fruits.index('apple')

2

In [3]:
#3.remove all elements from a list from 2 methods|fruit=['pear','orange','apple']
fruit=['pear','orange','apple']
del fruit

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [4]:
#4.concatenate two lists from 2 ways.
li=['a','b','c','d','e']
pets=['dog','cat','fish','cat']

li.extend(pets)
print(li)


li=['a','b','c','d','e']
pets=['dog','cat','fish','cat']

x=li+pets
print(x)

['a', 'b', 'c', 'd', 'e', 'dog', 'cat', 'fish', 'cat']
['a', 'b', 'c', 'd', 'e', 'dog', 'cat', 'fish', 'cat']

In [5]:
#5.how to manipulate every element in a list with list comprehension, new list with 1 added to every element.|li=[0,25,50,100]

li = [0,25,50,100]
[i+1 for i in li]

[1, 26, 51, 101]

In [6]:
#6.count the occurence of a specific object in a list|pets=['dog','cat','fish','cat'] count fish

pets=['dog','cat','fish','cat']
pets.count('fish')

1

In [7]:
#7.return the lenght of a list|li=['a','b','c','d','e']
li=['a','b','c','d','e']
x=(len(li))
print(x)

5

In [8]:
#8.how to check if an element is not in a list?|li=[1,2,3,4]check 4 and 5
li=[1,2,3,4]
if 4 and 5  not in li:
    print('not present')

not present

In [9]:
#9.multiply every element in a list by 5 |a=[10,20,30,40,50]

li = [0,25,50,100]
[i*5 for i in li]

[0, 125, 250, 500]

In [10]:
#10.insert a value at a specific index in an existing list|li=['a','b','c','d','e']at 2nd position 'HERE'
li=['a','b','c','d','e']
li.insert(2,'HERE')
print(li)

['a', 'b', 'HERE', 'c', 'd', 'e']

In [11]:
#11.remove element in a list after a specific index |li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
#i want only first 1 to 10 numbers

li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

print(li[0:10])
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 10]

In [12]:
#12.remove element in a list between 2 indices |li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]from 13 to 17 
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
del li[12:16]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 17, 18, 19, 10]

In [13]:
#13.remove element 2nd element in a list between 2 indices |li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]between 4to 6
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
del li[3:6]
print(li)

[1, 2, 3, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 10]

In [14]:
#14.sort a list of integers in ascending order|li=[10,1,9,2,8,3,7,4,6,5]
li=[10,1,9,2,8,3,7,4,6,5]
li.sort()
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#15.sort a list of integers in decending order|li=[10,1,9,2,8,3,7,4,6,5]
li=[10,1,9,2,8,3,7,4,6,5]
li.sort(reverse=True)
print(li)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
#16.filter even values out of a list with list comprehension|li=[1,2,3,4,5,6,7,8,9,10]
li=[1,2,3,4,5,6,7,8,9,10]
[i for i in li if i%2==0]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#17.get the first element from each nested list in a list |li=[[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
li=[[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
[i[0] for i in li]

[1, 4, 7, 10, 13]

In [18]:
#18.combine elements in a list into a single string.|li=['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

li=['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']
' '.join(li)

'the quick brown fox jumped over the lazy dog'

In [19]:
#19.reverse the order of a list |li=[1,2,3,4,5,6,7,8,9,10]
li=[1,2,3,4,5,6,7,8,9,10]
li.reverse()
print(li)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
#20.return the minimum value in the list|li=[10,1,9,2,8,3,7,4,6,5]
li=[10,1,9,2,8,3,7,4,6,5]
min(li)

1

In [21]:
#21.return the sum of values in the list|li=[10,1,9,2,8,3,7,4,6,5]with sum function and without sum function

li=[10,1,9,2,8,3,7,4,6,5]
sum(li)

55

In [22]:
#22.find the intersection (same element)of 2 lists|li1=[1,2,3] li2=[2,3,4]
li1=[1,2,3]
li2=[2,3,4]
set(li1) and set(li2)

{2, 3, 4}

In [ ]:
#23.faltten a  list of lists with a list comprehension |li=[[1,2,3],[4,5,6]] O/P. will be [1,2,3,4,5,6]

li=[[1,2,3],[4,5,6]]

In [23]:
#24. generate a list of every integer between 2 values. take user input
num=int(input("Enter a number : "))
for i in range(0,num):
    if i%2==0:
        print(i)

Enter a number : 8
0
2
4
6

In [24]:
#25. reverse a order of a list using the slice syntax |li=['a','b',3,4]
li=['a','b',3,4]
#li[::-1]
#print(li)

li.reverse()
print(li)

[4, 3, 'b', 'a']

In [25]:
#26. remove empty string from the list of strings |list=["mike","Emma","kelly","","Brad"]
list1=["mike","kelike","Emly"," ","Brad"]
list1.remove(" ")
print(list1)

['mike', 'kelike', 'Emly', 'Brad']

In [26]:
#27. add new item to list after a specific item |list1=[10,20,[300,400,[5000,6000],500],30,40] 
#EXPECTED [10,20,[300,400,[5000,6000,7000],500],30,40]

list1=[10,20,[300,400,[5000,6000],500],30,40] 

list1[2][2].append(7000) # slicing and indexing 
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [27]:
#28.extend nested list by adding the sublist list1=["a","b",["c",["d","e",["f","g"],"k"],"I"],"m","n"] AND 
#sub list to add sub_list =["h","i","j"] expected O/P:['a','b',['c',['d','e',['f','g','h','i','j'],'k'],'i'],'m','n']

list1=["a","b",["c",["d","e",["f","g"],"k"],"I"],"m","n"] 
sub_list =["h","i","j"]

list1[2][1][2].append("h")
list1[2][1][2].append("i")
list1[2][1][2].append("j")
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'I'], 'm', 'n']

In [28]:
#29. replace list's item with new value if found |list1=[5,10,15,20,25,50,20] EXPECTED O/P:[5,10,15,200,25,50,20]
list1=[5,10,15,20,25,50,20]
list1[3]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [2]:
#30. remove all occurrences of a specific item from a list. remove all occurrences of item 20.|list1=[5,20,15,20,25,50,20]

list1=[5,20,15,20,25,50,20]
list1.remove(20)
list1

[5, 15, 20, 25, 50, 20]

In [3]:
#31. combine 2 lists into a dictionary |name=['Snowball','Chewy','Bubbles','Gruff'] 
#and anima=['Cat','Dog','Fish','Goat'] USING zip funcion.

name=['Snowball','Chewy','Bubbles','Gruff'] 

animal=['Cat','Dog','Fish','Goat']

list=(zip(name,animal))
print(list)

<zip object at 0x000001832C3FD040>

In [ ]:
name=['snowball' , 'chew','bibbles','gruff']
animal=['cat','dog','fish','goat']

In [ ]:
list(zip(name,animal))

In [ ]:
zip

In [1]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
anima = ['Cat', 'Dog', 'Fish', 'Goat']

my_dict = dict(zip(name, anima))

print(my_dict)

{'Snowball': 'Cat', 'Chewy': 'Dog', 'Bubbles': 'Fish', 'Gruff': 'Goat'}